<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Home</title>
<link rel="stylesheet" type="text/css" href="style.css">
<style>
	
</style>
</head>
<body>

<div class="logo active">
<a href="#" style="width: 100%; height: 98.5%; margin: 0; padding: 0;">
<img src="Images/Logo.png" alt="Logo" title="Home" style="width: 100%; height: 100%;">
</a>
</div>
<div class="slider">
Slider
</div>
<div class="menu">
<ul>
	<li><a href="SourceCode/artificialworld.html">ArtificialWorld</a></li>
	<li><a href="#">English</a></li>
	<li><a href="#">Entertainment</a></li>
	<li><a href="SourceCode/onlinesites.html">Online Sites</a></li>
</ul>
</div>
<div class="nev">
	
<h1 style=" background-color: green;">Tutorials:-</h1>

<a href="Offline%20Websites/W3Schools/css/default.html" target="_blank">CSS</a>
<br>
<a href="Offline%20Websites/W3Schools/python/default.html" target="_blank">Python3</a>
<br>
<a href="Offline%20Websites/W3Schools/css/css_font.html" target="_blank">Last practice</a>
<hr>
<a href="Offline%20Websites/W3Schools/index.html" target="_blank">W3Schools.com</a>
<br>
<a href="Offline%20Websites/javatpoint.com/www.javatpoint.com/index.html" target="_blank">JavaTpoint.com</a>
<br>

</div>
<div class="content">
	<br>
    <h1>{{ name }}</h1>
</div>
<div class="footer">
Content
</div>

</body>
</html>