*
    {
    margin: 0;
    padding: 0;
    }
h1
    {
    text-align: center;
    }
div.logo
    {
    width: 25vw;
    height: 7vh;
    line-height: 7vh;
    position: absolute;
    color: white;
    text-align: center;
    }
div.logo:hover
    {
    background-color: red;
    }
div.slider
    {
    width: 75vw;
    height: 7vh;
    line-height: 7vh;
    text-align: center;
    margin-left: 25vw;
    color: white;
    background-color: blueviolet;
    }
div.menu
    {
    width: 100vw;
    height: 3vh;
    line-height: 3vh;
    }

div.menu ul
    {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 3vh;
    background-color: #333;
    }

div.menu li
    {
    float: left;
    }

div.menu a
    {
    display: inline-block;
    color: white;
    width: 25vw;
    height: 3vh;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    }
div.menu a:hover
    {
    background-color: black;
    }
.active
    {
    background-color: red;
    }

div.nev
    {
    width: 25vw;
    height: 85vh;
    text-align: center;
    position: absolute;
    color: white;
    background-color: magenta;
    }
div.nev a:link
    {
    color: white;
    font-size: 2vw;
    text-decoration: none;
    }
div.nev a:visited
    {
    color: pink;
    text-decoration: none;
    }
div.nev a:active
    {
    color: green;
    background-color: transparent;
    text-decoration: underline;
    }
div.nev a:hover
    {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    }
div.content
    {
    font-size: 1.5em;
    overflow: auto;
    width: 75vw;
    height: 85vh;
    margin-left: 25vw;
    padding: 10px;
    color: black;
    background-color: gray;
    }
div.footer
    {
    width: 100vw;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    color: white;
    background-color: rgb(189, 96, 8);
    }